### Nasa Mars News

In [26]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [2]:
url ="https://mars.nasa.gov/news/8312/nearly-a-decade-after-mars-phoenix-landed-another-look/"
tweet_url ="https://twitter.com/MarsWxReport?lang=en"

In [3]:
# Opening up connection, grabbing the page 
uClient = uReq(url)
page_html = uClient.read()
uClient.close()

In [4]:
#html parsing
page_soup = soup(page_html, "html.parser")

In [5]:
# Grabs data
containers = page_soup.findAll("div", {"class": "grid_layout"})
#containers

In [6]:
news_title = containers[0].findAll("h1", {"class":"article_title"})
news_title[0].text.strip()

'Nearly a Decade After Mars Phoenix Landed, Another Look'

In [7]:
news_p = containers[0].findAll("div", {"class":"wysiwyg_content"})
news_p[0].text.strip().replace('\r','').replace('\n','')

"A recent view from Mars orbit of the site where NASA's Phoenix Mars mission landed on far-northern Mars nearly a decade ago shows that dust has covered some marks of the landing.The Phoenix lander itself, plus its back shell and parachute, are still visible in the image taken Dec. 21, 2017, by the High Resolution Imaging Science Experiment (HiRISE) camera on NASA's Mars Reconnaissance Orbiter. But an animated-blink comparison with an image from about two months after the May 25, 2008, landing shows that patches of ground that had been darkened by removal of dust during landing events have become coated with dust again.In August 2008, Phoenix completed its three-month mission studying Martian ice, soil and atmosphere. The lander worked for two additional months before reduced sunlight caused energy to become insufficient to keep the lander functioning. The solar-powered robot was not designed to survive through the dark and cold conditions of a Martian arctic winter.For additional information about the Phoenix mission, visit:https://www.nasa.gov/mission_pages/phoenix/main/index.htmlFor additional information about the Mars Reconnaissance Orbiter mission, visit:https://mars.nasa.gov/mro/ Andrew Good / Guy WebsterJet Propulsion Laboratory, Pasadena, Calif.818-393-2433 / 818-354-6278andrew.c.good@jpl.nasa.gov / guy.webster@jpl.nasa.gov"

### JPL Mars Space Images

In [48]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
# Navigate the site and find the image url for the current Featured Mars Image
time.sleep(2)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image_url = soup.find(id= "fancybox-lock")
featured_image_url = image_url.find('img')['src']
featured_image_url

### Mars Weather

In [8]:
# Opening up connection, grabbing the page 
uClient = uReq(tweet_url)
page_html = uClient.read()
uClient.close()

In [9]:
#html parsing
page_soup = soup(page_html, "html.parser")

In [10]:
# Grabs data
mars_weather = page_soup.findAll("p", {"class": "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"})
mars_weather[0].text

'Sol 1976 (Feb 26, 2018), Sunny, high -10C/14F, low -77C/-106F, pressure at 7.28 hPa, daylight 05:37-17:25'

### Mars Facts

In [11]:
# Reading tabular data and creating dataframes.
mars_url = "http://space-facts.com/mars/"
tables = pd.read_html(mars_url)

df = tables[0]
df.columns = [0,1]
df.head(10)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
df= df.rename(columns={0:'Label',1:'Data'})

df.set_index('Data', inplace=True)

df.head(10)

                                              Label
Data
6,792 km                       Equatorial Diameter:
6,752 km                            Polar Diameter:
6.42 x 10^23 kg (10.7% Earth)                 Mass:
2 (Phobos & Deimos)                          Moons:
227,943,824 km (1.52 AU)            Orbit Distance:
687 days (1.9 years)                  Orbit Period:
-153 to 20 °C                  Surface Temperature:
2nd millennium BC                     First Record:
Egyptian astronomers                   Recorded By:

In [13]:
# Converting table to html table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Label</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>6,792 km</th>\n      <td>Equatorial Diameter:</td>\n    </tr>\n    <tr>\n      <th>6,752 km</th>\n      <td>Polar Diameter:</td>\n    </tr>\n    <tr>\n      <th>6.42 x 10^23 kg (10.7% Earth)</th>\n      <td>Mass:</td>\n    </tr>\n    <tr>\n      <th>2 (Phobos &amp; Deimos)</th>\n      <td>Moons:</td>\n    </tr>\n    <tr>\n      <th>227,943,824 km (1.52 AU)</th>\n      <td>Orbit Distance:</td>\n    </tr>\n    <tr>\n      <th>687 days (1.9 years)</th>\n      <td>Orbit Period:</td>\n    </tr>\n    <tr>\n      <th>-153 to 20 °C</th>\n      <td>Surface Temperature:</td>\n    </tr>\n    <tr>\n      <th>2nd millennium BC</th>\n      <td>First Record:</td>\n    </tr>\n    <tr>\n      <th>Egyptian astronomers</th>\n      <td>Recorded By:</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
# Cleaning table
html_table.replace('\n','')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Label</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>6,792 km</th>\n      <td>Equatorial Diameter:</td>\n    </tr>\n    <tr>\n      <th>6,752 km</th>\n      <td>Polar Diameter:</td>\n    </tr>\n    <tr>\n      <th>6.42 x 10^23 kg (10.7% Earth)</th>\n      <td>Mass:</td>\n    </tr>\n    <tr>\n      <th>2 (Phobos &amp; Deimos)</th>\n      <td>Moons:</td>\n    </tr>\n    <tr>\n      <th>227,943,824 km (1.52 AU)</th>\n      <td>Orbit Distance:</td>\n    </tr>\n    <tr>\n      <th>687 days (1.9 years)</th>\n      <td>Orbit Period:</td>\n    </tr>\n    <tr>\n      <th>-153 to 20 °C</th>\n      <td>Surface Temperature:</td>\n    </tr>\n    <tr>\n      <th>2nd millennium BC</th>\n      <td>First Record:</td>\n    </tr>\n    <tr>\n      <th>Egyptian astronomers</th>\n      <td>Recorded By:</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
# Saving html file
df.to_html('mars_facts.html')

In [16]:
# Scraping more Mars facts

# Opening up connection, grabbing the page 
uClient = uReq(mars_url)
page_html = uClient.read()
uClient.close()

#html parsing
page_soup = soup(page_html, "html.parser")

In [17]:
# Grabs facts data
mars_facts = page_soup.findAll("div", {"id":"facts"})
mars_facts[0].text.strip().replace('\n','')

'Facts about MarsMars and Earth have approximately the same landmass.Even though Mars has only 15% of the Earth’s volume and just over 10% of the Earth’s mass, around two thirds of the Earth’s surface is covered in water. Martian surface gravity is only 37% of the Earth’s (meaning you could leap nearly three times higher on Mars).Mars is home to the tallest mountain in the solar system.Olympus Mons, a shield volcano, is 21km high and 600km in diameter. Despite having formed over billions of years, evidence from volcanic lava flows is so recent many scientists believe it could still be active.Only 18 missions to Mars have been successful.As of September 2014 there have been 40 missions to Mars, including orbiters, landers and rovers but not counting flybys. The most recent arrivals include the Mars Curiosity mission in 2012, the MAVEN mission, which arrived on September 22, 2014, followed by the Indian Space Research Organization’s MOM Mangalyaan orbiter, which arrived on September 24, 2014. The next missions to arrive will be the European Space Agency’s ExoMars mission, comprising an orbiter, lander, and a rover, followed by NASA’s InSight robotic lander mission, slated for launch in March 2016 and a planned arrival in September, 2016.Mars has the largest dust storms in the solar system.They can last for months and cover the entire planet. The seasons are extreme because its elliptical (oval-shaped) orbital path around the Sun is more elongated than most other planets in the solar system.On Mars the Sun appears about half the size as it does on Earth.At the closest point to the Sun, the Martian southern hemisphere leans towards the Sun, causing a short, intensely hot summer, while the northern hemisphere endures a brief, cold winter: at its farthest point from the Sun, the Martian northern hemisphere leans towards the Sun, causing a long, mild summer, while the southern hemisphere endures a lengthy, cold winter.Pieces of Mars have fallen to Earth.Scientists have found tiny traces of Martian atmosphere within meteorites violently ejected from Mars, then orbiting the solar system amongst galactic debris for millions of years, before crash landing on Earth. This allowed scientists to begin studying Mars prior to launching space missions.Mars takes its name from the Roman god of war.The ancient Greeks called the planet Ares, after their god of war; the Romans then did likewise, associating the planet’s blood-red colour with Mars, their own god of war. Interestingly, other ancient cultures also focused on colour – to China’s astronomers it was ‘the fire star’, whilst Egyptian priests called on ‘Her Desher’, or ‘the red one’. The red colour Mars is known for is due to the rock and dust covering its surface being rich in iron.There are signs of liquid water on Mars.For years Mars has been known to have water in the form of ice. The first signs of trickling water are dark stripes or stains on crater wall and cliffs seen in satellite images. Due to Mars’ atmosphere this water would have to be salty to prevent it from freezing or vaporising.One day Mars will have a ring.In the next 20-40 million years Mars’ largest moon Phobos will be torn apart by gravitational forces leading to the creation of a ring that could last up to 100 million years.'

### Mars Hemisperes

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", 
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", 
     "img_url": "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"},
    {"title": "Schiaparelli Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]